<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.qiaoer.mobilesafer361">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome.moudle.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".safe.moudle.SetUp1Activity">
        </activity>
        <activity android:name=".safe.moudle.SetUp2Activity">
        </activity>
        <activity android:name=".safe.moudle.SetUp3Activity">
        </activity>
        <activity android:name=".safe.moudle.SetUp4Activity">
        </activity>
        <activity android:name=".safe.moudle.ContactSelectActivity">
        </activity>

        <receiver
            android:name=".safe.moudle.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".safe.moudle.LostFindActivity">
        </activity>
    </application>

</manifest>